@import "tailwindcss";

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

/* Component for Hero Sections */
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

/* Custom text selection styles */
::selection {
  background-color: rgb(244 63 94); /* rose-500 */
  color: white; /* White text for better contrast */
}

::-moz-selection {
  background-color: rgb(244 63 94); /* rose-500 for Firefox */
  color: white; /* White text for better contrast */
}

body {
  background-color: black;
  min-height: 100vh;
}

html {
  background-color: black;
}